Body {
    background-color: blanchedalmond;
    font-family: sans-serif;
}
h1 {
    color: cornflowerblue;
    font: bold;
}
p {
    line-height: 30px;
    font-style: italic;
}
ul {
    line-height: 30px;
}
img {
    width: 180px;
    height: auto;
}
